nav {
  background: #011627;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.8rem;
}

.navbar-brand a {
  text-decoration: none;
}

.nav-toggler {
  position: absolute;
  right: 3rem;
  top: 1.2rem;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggler div {
  height: 0.2rem;
  width: 1.8rem;
  margin: 0.2rem;
  background: white;
}
.navbar-nav {
  display: flex;
}

.nav-items {
  position: relative;
  list-style-type: none;
  font-size: 1.3rem;
  padding: 0 1.6rem;
  cursor: pointer;
}

.nav-items:hover {
  color: grey;
}

.nav-items::after {
  content: ">";
  transform: rotate(90deg);
  position: absolute;
  right: 7px;
}

.dropdown-container {
  z-index: 2;
}

.tools-dropdown {
  position: absolute;
  top: 8.5%;
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  display: none;
  flex-direction: column;
  background: #011627;
  overflow: hidden;
}

.dropdown-items {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.dropdown-items:hover {
  background: #05223a;
}

@media screen and (max-width: 590px) {
  .nav-toggler {
    display: flex;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .collapse {
    width: 100%;
    display: none;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }
  .tools-dropdown {
    display: none;
    position: initial;
  }
  .dropdown-container {
    display: flex;
    flex-direction: column;
  }
  .nav-items {
    padding: 0.5rem 0;
    width: 100%;
  }
}

.index-tool-dropdown-active {
  display: flex;
}

.index-active-collapse {
  display: block;
}

.converter-tool-dropdown-active {
  display: flex;
}

.converter-active-collapse {
  display: block;
}

.bracket-tool-dropdown-active {
  display: flex;
}

.bracket-active-collapse {
  display: block;
}
